<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro" rel="stylesheet">
</head>
<body>
	<header>
		<div class="index_header-div">
			<a href="/">
				<img class="index_img" src="<%= image_url('copy.png') %>">
				<h1 class="index_h1">GLUEBOX</h1>
				<img class="index_img" src="<%= image_url('paste.png') %>">
			</a>
		</div>
	</header>

	<div class="index_container">
		<main>

			<h2 id="edit_glue-title">EDIT GLUE</h2>
			<%= form_for @glue do |f| %>
			<div class="index_glues_div">
				<%= f.text_field :title, :class => 'text-input', :size => 59 %>
				<h3 class="show_glues-h3"><%= @glue.user %></h3>
			</div>
			<div>
				<%= f.text_area :content, cols: 87, rows: 18, :class => 'text-area' %>
			</div>
			<br>
			<%= f.submit "UPDATE", :class=> 'index_glues_new-submit' %>
			<% end %>

			<%= link_to "Return to Glue", glue_path(@glue), :class=> 'show_div_a' %>
			<%= link_to "Return to Gluebox", glues_path, :class=> 'show_div_a' %>

		</main>
	</div>

</body>
</html>