<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro" rel="stylesheet">
</head>
<body>
	<header>
		<div class="index_header-div">
			<a href="/">
				<img class="index_img" src="<%= image_url('copy.png') %>">
				<h1 class="index_h1">GLUEBOX</h1>
				<img class="index_img" src="<%= image_url('paste.png') %>">
			</a>
		</div>
	</header>

	<div class="index_container">
		<main>

			<div id="index_glues_new">
				<h2 class="index_glues_new-h2">NEW GLUE</h2>
				<%= form_for @glue do |form| %>
					<%= form.hidden_field :user, :value=> 'Anonymous' %>
					<span class="index_glues_new-input"><%= form.text_field :title, :class => 'text-input', placeholder: "Title", :size => 59 %></span>
					<span class="index_glues_new-input"><%= form.text_area :content, cols: 87, rows: 18, :class => 'text-input', placeholder: "Content" %></span>
					<%= form.submit 'GLUE', :class=> 'index_glues_new-submit' %>
				<% end %>
			</div>

			<div class="index_glues_div">
				<h2 class="index_glues_new-h2">RECENT GLUES</h2>
				<hr>
				<div class="index_glues_notice">
					<div class="inline-block relative">
						<img class="index_img" src="<%= image_url('i.png') %>">
					</div>
					<div class="inline-block">
						<p><strong>NOTICE:</strong> GlueBox "glues" lasts 10 minutes before losing all adhesive quality, effectively slipping from this page into the vast ether of the surface web.</p>
						<p>All conditioned existence, without exception, is transient, evanescent, and inconstant.  Enjoy this study of impermanence with a smile.</p>
					</div>
				</div>
				<table id="index_glues_table" cellspacing="0">
					<th class="index_glues_td-1">TITLE</th>
					<th>POSTED</th>
					<% @glues.each do |each_glue| %>
					<tr>
						<td class="index_glues_td-1"><a class="index_a" href="/glues/<%= each_glue.id %>"><%= simple_format(each_glue.title) %></a></td>
						<td><%= each_glue.created_at.to_formatted_s(:long_ordinal) %></td>
					</tr>
					<% end %>
				</table>
			</div>

		</main>
	</div>

</body>
</html>
