<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro" rel="stylesheet">
	<title>GlueBox - Simplified Cut and Paste</title>
</head>
<body>
	<header>
		<div id="index_header-div">
			<a href="/">
				<img class="index_img" src="<%= image_url('copy.png') %>">
				<h1 id="index_h1">GLUEBOX</h1>
				<img class="index_img" src="<%= image_url('paste.png') %>">
			</a>
		</div>
	</header>
	<main>
		<div class="index_container">

			<div id="index_glues_new">
				<h2 id="index_glues_new-h2">NEW GLUE</h2>
				<%= form_for @glue do |form| %>
					<%= form.hidden_field :user, :value=> 'Anonymous' %>
					<span class="index_glues_new-input"><%= form.text_field :title, placeholder: "Title" %></span>
					<span class="index_glues_new-input"><%= form.text_area :content, cols: 100, rows: 18, placeholder: "Content" %></span>
					<%= form.submit 'GLUE', :class=> 'index_glues_new-submit' %>
				<% end %>
			</div>

			<div class="index_glues_div">
				<table id="index_glues_table">
					<th>TITLE</th>
					<th>POSTED</th>
					<% @glues.each do |each_glue| %>
					<tr><td><a class="index_a" href="/glues/<%= each_glue.id %>"><%= simple_format(each_glue.title) %></a></td><td><%= each_glue.created_at.to_formatted_s(:long_ordinal) %></td></tr>
					<% end %>
				</table>
			</div>
			
		</div>
	</main>
</body>
</html>
